doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="icon", type="image/png", href="/images/favicon.png")
		<!--[if lt IE 9]>
		<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		title #{page_title} - 爬格子 | 中文同人社区
		link(rel="stylesheet", href="/libs/uikit/css/uikit.min.css")
		link(rel="stylesheet", href="/css/main.css")
	body
		.uk-container.uk-container-center
			include ./includes/header
			.ip-container
				block content
				include ./includes/footer