.footer
	.sub-footer
		ul.uk-subnav.uk-subnav-line
			li
				a(href="/about") 关于我们
			li
				a(href="") 免责声明
			li
				a(href="") Blog
	p Copyright &copy; 2015 ipagezi.com. Made with <i class="uk-icon-heart"></i> in Beijing.