.uk-margin.ip-header
	.uk-navbar
		a.uk-navbar-brand(href="/")
			img(src="/images/logo-main.png", alt="爬格子")
		.uk-navbar-content.uk-navbar-flip
			.uk-button-group
				a.uk-button.uk-margin-small-right(href="/login") 登录
				a.uk-button(href="/register") 注册